.go-back {
    padding: 10px 0;
}

.product-container {
    padding: 100px 0 150px;
}

.product-container button {
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
    }
}

.product-container img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}