<!-- Modal -->
<div class="modal fade" [ngClass]="{'show': openModal}" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" (click)='closeModalClick($event)'>
    <div class="modal-dialog" role="document">
        <div class="modal-content" (click)='doNothing($event)'>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='closeModalClick($event)'>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">Name:</div>
                    <div class="col-md-8">{{ name }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Address:</div>
                    <div class="col-md-8">{{ address }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">City:</div>
                    <div class="col-md-8">{{ city }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Phone:</div>
                    <div class="col-md-8">{{ phone }}</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">Subtotal:</div>
                    <div class="col-md-8">{{ subTotal | currency: 'USD':true }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Shipping: </div>
                    <div class="col-md-8">Free</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Tax ({{ tax * 100 }}%):</div>
                    <div class="col-md-8">{{ subTotal * tax | currency: 'USD':true }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Total:</div>
                    <div class="col-md-8">{{ subTotal - (subTotal * tax) | currency: 'USD':true }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop fade" [ngClass]="{'show': openModal}"></div>