.modal {
    cursor: pointer;
}

.modal-content {
    cursor: default;
}

.modal.show {
    display: block;
}

.modal-backdrop {
    display: none;
}

.modal-backdrop.show {
    display: block;
}

.modal .close {
    cursor: pointer;
}