<div class="container cart">
    <div class="row" *ngIf="cartProductArray.length === 0">
        <h2>Cart Is Empty</h2>
    </div>
    <div class="row" *ngIf="cartProductArray.length > 0">
        <div class="col-md-6">
            <table class="table table-responsive">
                <tr class="row">
                    <th class="col-md-2">Image</th>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-2">Price</th>
                    <th class="col-md-2">Qty</th>
                    <th class="col-md-2">Cost</th>
                    <th class="col-md-2">Remove</th>
                </tr>
                <tr *ngFor="let productData of cartProductArray; let i=index" class="row">
                    <td class="col-md-2"><img [src]="imagesData[productData.productId].imagelink" alt=""></td>
                    <td class="col-md-2">{{ imagesData[productData.productId].name }}</td>
                    <td class="col-md-2">{{ imagesData[productData.productId].price | currency: 'USD':true }}</td>
                    <td class="col-md-2"><input type="number" [(ngModel)]="productData.productQty" (input)="onProductQtyChange(productData.productId, $event.target.value)" value="{{ productData.productQty }}" min="1" max="{{ imagesData[productData.productId].stock }}" [ngClass]="{
                        'is-invalid': productData.productQty < 1 || productData.productQty > imagesData[productData.productId].stock
                        }"></td>
                    <td class="col-md-2">{{ (imagesData[productData.productId].price * productData.productQty) | currency: 'USD':true }}</td>
                    <td class="col-md-2"><button class="btn btn-default" (click)='onRemoveCartItemClick($event, i)'>X</button></td>
                </tr>
            </table>
            <div class="row total-box tb-top">
                <div class="col-md-3"><strong>Subtotal:</strong></div>
                <div class="col-md-9">{{ getSubTotal() | currency: 'USD':true }}</div>
            </div>
            <div class="row total-box">
                <div class="col-md-3"><strong>Shipping:</strong></div>
                <div class="col-md-9">FREE</div>
            </div>
            <div class="row total-box">
                <div class="col-md-3"><strong>Tax ({{ tax * 100 }}%):</strong></div>
                <div class="col-md-9">{{ subTotal * tax | currency: 'USD':true }}</div>
            </div>
            <div class="row total-box">
                <div class="col-md-3"><strong>Total: </strong></div>
                <div class="col-md-9">{{ subTotal - (subTotal * tax) | currency: 'USD':true }}</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2>Enter Shipping Details</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <cart-form
                        [validQty]="validQty"
                        (onCheckoutForm)="onCheckoutForm($event)"
                    ></cart-form>
                </div>
            </div>
        </div>
    </div>
</div>

<cart-modal
    [name]="name"
    [address]="address"
    [city]="city"
    [phone]="phone"
    [subTotal]="getSubTotal()"
    [tax]="tax"
    [openModal]="openModal"
    (onCloseModal)="onCloseModal($event)"
></cart-modal>