.cart {
    padding: 150px 0;
    img {
        display: inline-block;
        max-height: 50px;
        max-width: 100%;
    }

    table {
        tr {
            height: 64px;
            td {
                padding: 0.5rem;
            }
        }
        button {
            cursor: pointer;
        }
        input {
            width: 50px;
        }
        .is-invalid,
        .is-invalid:focus {
            border-color: #dc3545;
            outline: 0;
        }
    }
    .total-box {
        padding: 10px 0;
    }
    .tb-top {
        margin-top: 75px;
    }
}